---
import { Image } from '@astrojs/image/components';
import heroImage from '@assets/logo-no-background2.svg';
---

<div class=""><Image src={heroImage} width={300} height={300} alt="descriptive text" /></div>