---
import { Image } from '@astrojs/image/components';
import heroImage from '@assets/rings.svg';
---

<div class="animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear"><Image src={heroImage} width={1072} height={1072} alt="descriptive text" /></div>