---
import { SpinningCircles } from "astro-svg-loaders"
---

<html lang="en">
    <body>
        // renders a spining cercle animation
        <p>Please wait while content is loading</p>
        <SpinningCircles />
    </body>
</html>

// renders all available loader animations
<Audio />
<BallTriangle />
<Bars />
<Circles />
<Grid />
<Hearts />
<Oval />
<Puff />
<Rings />
<SpinningCircles />
<TailSpin />
<ThreeDots />