---
import BorderRadiusBlob from "./BorderRadiusBlob.astro";

---

<section class="py-10 bg-trancperent sm:py-16 lg:py-24">
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="mx-auto text-left md:max-w-lg lg:max-w-2xl md:text-center">

                
                <h2 class="font-bold heading-1">
                New Astro template 
                <span class="relative inline-block ">
                    <span class="animate-fade-right animate-infinite animate-duration-[7500ms] animate-ease-in-out animate-alternate-reverse absolute inline-block w-full h-2 bg-yellows-600 bottom-1.5 "></span>
                    <span class="relative"> 4 begginers </span>
                </span>
            </h2>
        </div>

        <div class="grid grid-cols-1 mt-8 md:mt-20 gap-y-6 md:grid-cols-2 gap-x-10">
            <div>
                <BorderRadiusBlob/>
            </div>
            
            <div>
                <h3 class="body-large">Greetings, my name is Hrihorii, and I was start this party</h3>
                <p class="mt-4 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="mt-4 body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <h3 class="mt-8 body-large">How do I do this without any investment?</h3>
                <p class="mt-4 body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
