---
import BorderRadiusBlob from "./BorderRadiusBlob.astro";
import ImageTimeline from "./images/ImageTimeline.astro";
---
<div class="flex min-h-screen items-start justify-center bg-trancperent px-16 py-24">
    <div class="relative w-full max-w-lg">
      <!-- Blobs  -->
      <div class="absolute -left-4 top-0 h-72 w-72 animate-blob rounded-full bg-blues-300 dark:bg-yellows-600 opacity-70  blur-xl filter"></div>
      <div class="animation-delay-2000 absolute -right-4 top-0 h-72 w-72 animate-blob rounded-full bg-blues-400 dark:bg-yellows-700 opacity-70  blur-xl filter"></div>
      <div class="animation-delay-4000 absolute -bottom-8 left-28 h-72 w-72 animate-blob rounded-full bg-blues-500 dark:bg-yellows-800  opacity-70  blur-xl filter"></div>
  
      <!-- Mock UI -->
      <div class="m-8">
        <div class="relative space-y-4 animate-spin animate-infinite animate-duration-[27500ms] animate-ease-linear animate-normal animate-fill-both">
          <ImageTimeline />
        </div>
      </div>
    </div>
  </div>
  
  