---
import ImageForTheme1 from "./images/ImageForTheme1.astro";
import { Image } from '@astrojs/image/components';
---

<div class="wrap py-10 px-4 float">
  
    <div class="circle1">
  
       <ImageForTheme1>
  
      </div>
    
  </div>