---
import Link from "./ui/link.astro";

---

<section class="relative py-10 overflow-hidden bg-trancperent sm:py-16 lg:py-24">
    <div class="absolute bottom-0 right-0 -mb-48 md:inset-y-0">
        <img class="object-cover w-full h-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/pricing/8/lines.svg" alt="" />
    </div>

    <div class="relative max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="grid items-end grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-20">
            <div>
                <h2 class="text-3xl font-bold leading-tight heading-2 sm:text-4xl lg:text-5xl">Join 35k+ web devs & build your next website fast</h2>
                <p class="mt-6 text-base leading-relaxed body">Amet minim mollit non deserunt ullam co est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>

                <ul class="mt-12 space-y-4 md:mt-20">
                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-yellows-600 rounded-full">
                            <svg class="w-3.5 h-3.5 body" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <span class="text-lg font-medium body"> Domain </span>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-yellows-600 rounded-full">
                            <svg class="w-3.5 h-3.5 body" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <span class="text-lg font-medium body"> 120+ Coded Blocks </span>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-yellows-600 rounded-full">
                            <svg class="w-3.5 h-3.5 body" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <span class="text-lg font-medium body"> Unlimited Exports </span>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-yellows-600 rounded-full">
                            <svg class="w-3.5 h-3.5 body" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <span class="text-lg font-medium body"> Design Files Included </span>
                    </li>

                    <li class="flex items-center space-x-3">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-yellows-600 rounded-full">
                            <svg class="w-3.5 h-3.5 body" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <span class="text-lg font-medium body"> Commercial License </span>
                    </li>
                </ul>
            </div>

            <div class="lg:px-12">
                <div class="absolute -z-50 animate-bounce animate-infinite animate-duration-3000 animate-delay-[4ms] animate-ease-linear animate-alternate">
                    <svg class=" opacity-30 absolute -z-50 animate-blob" viewBox="222.799 195.578 7.387 7.387" width="337.387" height="337.387">
                  <circle style="display:inline;fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:1.38442755;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path1333" cx="220.54608" cy="38.448448" r="10.069077" transform="matrix(0.366836, 0, 0, 0.366836, 145.588242, 185.167108)"></circle>
                </svg></div>
                <div class="overflow-hidden text-center bg-trancperent rounded-md shadow-md">
                    <div class="px-12 py-10">
                        <h3 class="text-xl font-bold tracking-widest uppercase text-color">Full Pack</h3>
                        <p class="mt-4 text-6xl font-bold heading-5">$79</p>
                        <Link  class="m-2 px-3 py-4" href="#" style="nohover" size="md">Get Acess for Free</Link>
                        </a>

                        <div class="flex items-center justify-center mt-5">
                            <svg class="flex-shrink-0 w-5 h-5 body" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                            </svg>
                            <span class="ml-2 text-sm body"> 14 Days Moneyback Guarantee </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
