---
import BorderRadiusBlob from "./BorderRadiusBlob.astro";

import Link from "./ui/link.astro";

---

<section class="py-10 bg-trancperent mt-6 sm:py-16 lg:py-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      
        <div class="grid items-center grid-cols-1 gap-y-12 lg:grid-cols-2 lg:gap-x-24">
          <div> 
              <BorderRadiusBlob/>
              
              </div>
            <div class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear">
              <svg class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear " viewBox="231.659 156.619 52.432 53.134" width="252.432" height="253.134">
                <g style="display:inline" id="g4827" transform="matrix(0.133356, 0.063959, -0.063959, 0.133356, 211.821537, 150.607065)">
                  <path id="path4823" d="m 365.12486,-58.297561 c -4.60679,0 -8.07178,3.71492 -8.31527,8.315256 l -1.32292,24.992788 c -11.99007,2.60613 -18.55002,5.003247 -29.16203,11.734167 l -18.90739,-16.267739 c -3.25747,-3.257481 -8.50252,-3.257481 -11.75999,0 l -18.1746,18.174083 c -3.25749,3.2574816 -3.25749,8.5025233 0,11.76000713 L 293.82635,19.394336 c -6.76992,10.579545 -9.21203,17.113155 -11.86696,29.08608 l -24.93545,1.322917 c -4.60028,0.244064 -8.31575,3.708997 -8.31575,8.315772 v 25.702307 c 0,4.606766 3.71541,8.071749 8.31575,8.315245 l 24.99281,1.322917 c 2.60614,11.990066 5.00324,18.550016 11.73416,29.162056 l -16.26825,18.90789 c -3.25749,3.25747 -3.25749,8.50199 0,11.75949 l 18.1746,18.1746 c 3.25747,3.25747 8.26884,3.00566 11.75999,0 l 18.98282,-16.34318 c 10.57976,6.76979 17.11352,9.21176 29.0866,11.86645 l 1.32292,24.93595 c 0.24405,4.60029 3.70848,8.31525 8.31527,8.31525 h 25.70228 c 4.6068,0 8.07228,-3.71491 8.31578,-8.31525 l 1.32292,-24.99331 c 11.98988,-2.6062 18.54964,-5.00329 29.16152,-11.73416 l 18.9079,16.26825 c 3.25749,3.25747 8.50251,3.25747 11.76001,0 l 18.17407,-18.1746 c 3.2575,-3.2575 3.2575,-8.50202 0,-11.75949 L 462.12616,122.5467 c 6.77005,-10.57992 9.21218,-17.1138 11.86699,-29.087126 l 24.93541,-1.322917 c 4.60029,-0.244051 8.31525,-3.708479 8.31525,-8.315245 V 58.119105 c 0,-4.606775 -3.71491,-8.072269 -8.31525,-8.315772 L 473.93579,48.480416 C 471.32967,36.490346 468.93254,29.930405 462.20162,19.318372 L 478.46934,0.41100113 c 3.2575,-3.25748383 3.2575,-8.50252553 0,-11.76000713 l -18.17407,-18.174083 c -3.2575,-3.257481 -8.50252,-3.257481 -11.76001,0 l -18.98283,16.343188 c -10.57973,-6.769986 -17.11348,-9.212104 -29.08659,-11.866975 l -1.32292,-24.935429 c -0.24405,-4.600307 -3.70898,-8.315256 -8.31578,-8.315256 z M 377.97625,4.9187364 A 66.051543,66.051543 0 0 1 444.02752,70.969999 66.051543,66.051543 0 0 1 377.97625,137.02179 66.051543,66.051543 0 0 1 311.92448,70.969999 66.051543,66.051543 0 0 1 377.97625,4.9187364 Z" style="fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:2.35479164;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></path>
                  <path style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:2.35479164;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 367.4252,-72.313574 c -4.60223,-0.20493 -8.22905,3.352174 -8.67694,7.937125 l -2.4334,24.909198 c -12.09413,2.070179 -18.75422,4.173108 -29.65515,10.4253 L 308.4947,-46.134673 c -3.10934,-3.399163 -8.3492,-3.632486 -11.74835,-0.523136 l -18.96507,17.347611 c -3.39917,3.10935 -3.63249,8.349199 -0.52314,11.748366 L 292.74119,2.1297413 C 285.50735,12.397661 282.77702,18.816168 279.59211,30.659138 l -24.96962,0.212369 c -4.60658,0.03918 -8.47251,3.335405 -8.67744,7.937619 L 244.8017,64.48599 c -0.20493,4.602206 3.35266,8.229036 7.93762,8.676935 l 24.90922,2.433399 c 2.07019,12.094109 4.1731,18.754191 10.42529,29.655126 l -17.09325,18.16549 c -3.39918,3.10934 -3.63248,8.34867 -0.52312,11.74785 l 17.34813,18.96509 c 3.10933,3.39915 8.12695,3.37052 11.74834,0.52314 l 19.69105,-15.48256 c 10.26814,7.23372 16.6868,9.96392 28.52993,13.1486 l 0.21235,24.97011 c 0.0392,4.60659 3.33491,8.47199 7.93714,8.67692 l 25.67684,1.14335 c 4.60224,0.20493 8.22955,-3.35214 8.67745,-7.9371 l 2.43342,-24.90972 c 12.09395,-2.07025 18.75385,-4.17316 29.65464,-10.42531 l 18.1655,17.09325 c 3.10936,3.39916 8.34919,3.63248 11.74837,0.52314 l 18.96456,-17.34815 c 3.39919,-3.10936 3.63248,-8.34869 0.52312,-11.74784 l -15.48257,-19.69105 c 7.23399,-10.26828 9.96436,-16.687043 13.14917,-28.530385 l 24.96957,-0.21237 c 4.6066,-0.0392 8.47199,-3.334908 8.67692,-7.937122 l 1.14335,-25.676862 c 0.20493,-4.602215 -3.35214,-8.229534 -7.9371,-8.677439 L 471.37846,39.199087 C 469.30829,27.104955 467.20535,20.444873 460.95317,9.5439236 L 478.04586,-8.621072 c 3.39919,-3.10935 3.63251,-8.349196 0.52314,-11.74836 l -17.34762,-18.964559 c -3.10936,-3.399164 -8.34919,-3.632485 -11.74836,-0.523136 l -19.69106,15.482576 c -10.2681,-7.23392 -16.68674,-9.964272 -28.5299,-13.149132 l -0.21237,-24.969595 c -0.0392,-4.606609 -3.33541,-8.472016 -7.93765,-8.676946 z m 10.02653,63.725403 A 66.051543,66.051543 0 0 1 440.49937,60.335957 66.051543,66.051543 0 0 1 371.57521,123.38407 66.051543,66.051543 0 0 1 308.5271,54.459436 66.051543,66.051543 0 0 1 377.45173,-8.588171 Z" id="path4825"></path>
                </g>
              </svg>
          </div>
           
 
            
            <div class="text-center lg:text-left boxShadow:md">
             
                <div class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear">
                    <svg class="top-0 right-0 -z-50 animate-blob " viewBox="312.568 169.639 8.052 8.052" width="154.052" height="154.052">
                      <path style="display:inline;fill:#0ea5e9;;fill-opacity:35;stroke:none;stroke-width:1.01764655;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path1213" d="m 567.33629,-188.78562 -16.06805,16.06805 -5.88132,-21.94937 z" transform="matrix(0.366836, 0, 0, 0.366836, 112.5, 241.049463)"></path>
                    </svg>
                </div>
                
                <h2 class=" heading-2">Grow business with connections. </h2>
                <p class="mt-6 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

                <div class="px-14 py-5 items-center ">

                  <Link class="m-3" href="#" style="inverted" size="lg">Click Me!</Link>
                  <Link  class="m-3" href="#" style="nohover" size="lg">Click Me!</Link>
</div>
            </div>
        </div>
    </div>
</section>
