---
import Blob from "./Blob.astro";
import Rings from "./ui/arrows/Rings.astro";import Link from "./ui/link.astro";
;
---

<section class="bg-trancperent py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <p class="heading-5 font-semibold tracking-wider text-blues-500 uppercase">A social media for learners</p>
                    <div class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear">
                    <svg class="left-0 top-0 absolute -z-50 animate-blob" viewBox="297.016 300.253 21.587 21.587" width="151.587" height="151.587">
                          <g transform="matrix(0.50929, 0.185299, -0.185299, 0.50929, 328.791156, 112.30666)" id="g1329" style="display:inline;fill:#ff9c9c;fill-opacity:1">
                            <path style="fill:none;fill-opacity:1;stroke:#82cfff;stroke-width:7.38684416;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M 2022.625 1530.959 L 2004.2559 1581.4473 L 1953.7676 1563.0781 L 1944.582 1588.3203 L 1995.0703 1606.6895 L 1976.7012 1657.1777 L 2001.9453 1666.3633 L 2020.3145 1615.875 L 2070.8008 1634.2441 L 2079.9863 1609 L 2029.498 1590.6309 L 2047.8672 1540.1445 L 2022.625 1530.959 z " transform="matrix(0.16829758,-0.061233,0.061233,0.16829758,-347.55264,212.01438)" id="rect1325"></path>
                          </g>
                        </svg>
                    </div>
                    
                    <h1 class="heading-1">Connect & learn from the experts</h1>
                    <p class="mt-4 body lg:mt-8 sm:text-xl">Grow your career fast with right mentor.</p>
                    <div class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear">
                        <svg class="right-0 top-0 absolute -z-50 animate-blob" viewBox="282.946 191.618 14.057 18.282" width="150.057" height="150.282">
                              <defs>
                                <filter style="color-interpolation-filters:sRGB" id="filter893">
                                  <feBlend mode="multiply" in2="BackgroundImage" id="feBlend895"></feBlend>
                                </filter>
                              </defs>
                              <path id="path930" d="m 124.57981,366.32733 a 8.2067394,8.2067394 0 0 0 -8.20674,8.20671 8.2067394,8.2067394 0 0 0 3.32745,6.58669 H 99.456276 c -2.369058,0 -4.276208,1.90715 -4.276208,4.27623 v 22.65029 a 8.2067394,8.2067394 0 0 1 6.587172,-3.32796 8.2067394,8.2067394 0 0 1 8.20674,8.20674 8.2067394,8.2067394 0 0 1 -8.20674,8.20672 8.2067394,8.2067394 0 0 1 -6.587172,-3.32743 v 22.64926 c 0,2.36908 1.90715,4.27622 4.276208,4.27622 h 20.243204 a 8.2067394,8.2067394 0 0 0 -3.32641,6.58667 8.2067394,8.2067394 0 0 0 8.20674,8.20674 8.2067394,8.2067394 0 0 0 8.20673,-8.20674 8.2067394,8.2067394 0 0 0 -3.32745,-6.58667 h 20.24425 c 2.36907,0 4.27622,-1.90714 4.27622,-4.27622 v -22.64979 a 8.2067394,8.2067394 0 0 1 -6.58719,3.32796 8.2067394,8.2067394 0 0 1 -8.20674,-8.20672 8.2067394,8.2067394 0 0 1 8.20674,-8.20674 8.2067394,8.2067394 0 0 1 6.58719,3.32693 v -22.64926 c 0,-2.36908 -1.90715,-4.27623 -4.27622,-4.27623 h -20.24321 a 8.2067394,8.2067394 0 0 0 3.32641,-6.58669 8.2067394,8.2067394 0 0 0 -8.20673,-8.20671 z" style="display:inline;fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;filter:url(#filter893)" transform="matrix(0.167797, 0.044961, -0.044961, 0.167797, 287.635293, 125.869999)"></path>
                            </svg>
                        </div>
                        <div class="px-4 py-5 items-center mx-auto m-5 sm:px-6 lg:px-8 max-w-7xl">

                          <Link  class="m-3" href="#" style="nohover" size="lg">Click Me!</Link>
                      </div></div>

                <div class="fluid-cols">
                    <div class="absolute -z-50 animate-spin animate-infinite animate-duration-[15000ms] animate-ease-linear">
                        <svg class="right-0 top-0 absolute -z-50 animate-blob" viewBox="276.842 196.552 18.356 17.13" width="118.356" height="117.13">
                            <defs>
                              <filter style="color-interpolation-filters:sRGB" id="filter3017">
                                <feBlend mode="multiply" in2="BackgroundImage" id="feBlend3019"></feBlend>
                              </filter>
                            </defs>
                            <path style="display:inline;opacity:1;vector-effect:none;fill:#ff9c9c;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:2.63665414;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;filter:url(#filter3017)" d="m 206.33206,416.01811 a 8.2067394,8.2067394 0 0 0 -8.20673,8.20674 8.2067394,8.2067394 0 0 0 3.32744,6.58667 h -20.24424 c -2.36907,0 -4.27622,1.90714 -4.27622,4.27622 v 22.64876 a 8.2067394,8.2067394 0 0 0 -6.58668,-3.32642 8.2067394,8.2067394 0 0 0 -8.20674,8.20674 8.2067394,8.2067394 0 0 0 8.20674,8.20674 8.2067394,8.2067394 0 0 0 6.58668,-3.32746 v 22.64926 c 0,2.36908 1.90715,4.27622 4.27622,4.27622 h 20.24476 a 8.2067394,8.2067394 0 0 1 -3.32796,-6.58717 8.2067394,8.2067394 0 0 1 8.20673,-8.20674 8.2067394,8.2067394 0 0 1 8.20674,8.20674 8.2067394,8.2067394 0 0 1 -3.32693,6.58717 h 20.24372 c 2.36907,0 4.27623,-1.90714 4.27623,-4.27622 v -22.64873 a 8.2067394,8.2067394 0 0 0 6.58668,3.32693 8.2067394,8.2067394 0 0 0 8.20673,-8.20674 8.2067394,8.2067394 0 0 0 -8.20673,-8.20674 8.2067394,8.2067394 0 0 0 -6.58668,3.32695 v -22.64929 c 0,-2.36908 -1.90716,-4.27622 -4.27623,-4.27622 h -20.24321 a 8.2067394,8.2067394 0 0 0 3.32642,-6.58667 8.2067394,8.2067394 0 0 0 -8.20674,-8.20674 z" id="rect909" transform="matrix(0.167797, 0.044961, -0.044961, 0.167797, 271.865123, 119.455508)"></path>
                          </svg>
                        </div>
                        
                    <Blob /> 
                    <div class="absolute -z-50 animate-spin animate-infinite animate-reverse animate-duration-[15000ms] animate-ease-linear">
                        <svg class="inset-x-0 top-0 absolute -z-50 animate-blob" viewBox="156.496 299.513 11.31 11.31" width="111.31" height="111.31">
                              <g id="g1227" transform="matrix(0.370812, 0.099359, -0.099359, 0.370812, 164.703261, 163.630697)" style="display:inline;fill:#0ea5e9;fill-opacity:1">
                                <rect y="345.81979" x="86.595329" height="24.054256" width="4.8108516" id="rect1221" style="fill:#ff9c9c;fill-opacity:1;stroke:none;stroke-width:1.32291663;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></rect>
                                <rect transform="rotate(90)" style="fill:#ff9c9c;fill-opacity:1;stroke:none;stroke-width:1.32291663;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="rect1223" width="4.8108516" height="24.054256" x="355.4415" y="-101.02789"></rect>
                              </g>
                            </svg>
                        </div>
                </div>
            </div>
        </div>
</section>
