---
import Circle2 from "./ui/blobs/circle2.astro";
import Circle3 from "./ui/blobs/circle3.astro";

---

<section class="py-10 bg-trancperent sm:py-16 lg:py-24">
    
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
            <div class="absolute -z-50 animate-spin animate-infinite animate-alternate-reverse animate-duration-[15000ms] animate-ease-linear">
                <svg class="absolute -z-50 animate-spin animate-infinite animate-alternate-reverse animate-duration-[15000ms] animate-ease-linear " viewBox="186.791 256.603 66.712 67.981" width="266.712" height="267.981">
                    <g style="display:inline" id="g4815" transform="matrix(0.228955, 0.027063, -0.027063, 0.228955, 135.266873, 264.973202)">
                      <path id="rect4764" d="m 365.12486,-58.297561 c -4.60679,0 -8.07178,3.71492 -8.31527,8.315256 l -1.32292,24.992788 c -11.99007,2.60613 -18.55002,5.003247 -29.16203,11.734167 l -18.90739,-16.267739 c -3.25747,-3.257481 -8.50252,-3.257481 -11.75999,0 l -18.1746,18.174083 c -3.25749,3.2574816 -3.25749,8.5025233 0,11.76000713 L 293.82635,19.394336 c -6.76992,10.579545 -9.21203,17.113155 -11.86696,29.08608 l -24.93545,1.322917 c -4.60028,0.244064 -8.31575,3.708997 -8.31575,8.315772 v 25.702307 c 0,4.606766 3.71541,8.071749 8.31575,8.315245 l 24.99281,1.322917 c 2.60614,11.990066 5.00324,18.550016 11.73416,29.162056 l -16.26825,18.90789 c -3.25749,3.25747 -3.25749,8.50199 0,11.75949 l 18.1746,18.1746 c 3.25747,3.25747 8.26884,3.00566 11.75999,0 l 18.98282,-16.34318 c 10.57976,6.76979 17.11352,9.21176 29.0866,11.86645 l 1.32292,24.93595 c 0.24405,4.60029 3.70848,8.31525 8.31527,8.31525 h 25.70228 c 4.6068,0 8.07228,-3.71491 8.31578,-8.31525 l 1.32292,-24.99331 c 11.98988,-2.6062 18.54964,-5.00329 29.16152,-11.73416 l 18.9079,16.26825 c 3.25749,3.25747 8.50251,3.25747 11.76001,0 l 18.17407,-18.1746 c 3.2575,-3.2575 3.2575,-8.50202 0,-11.75949 L 462.12616,122.5467 c 6.77005,-10.57992 9.21218,-17.1138 11.86699,-29.087126 l 24.93541,-1.322917 c 4.60029,-0.244051 8.31525,-3.708479 8.31525,-8.315245 V 58.119105 c 0,-4.606775 -3.71491,-8.072269 -8.31525,-8.315772 L 473.93579,48.480416 C 471.32967,36.490346 468.93254,29.930405 462.20162,19.318372 L 478.46934,0.41100113 c 3.2575,-3.25748383 3.2575,-8.50252553 0,-11.76000713 l -18.17407,-18.174083 c -3.2575,-3.257481 -8.50252,-3.257481 -11.76001,0 l -18.98283,16.343188 c -10.57973,-6.769986 -17.11348,-9.212104 -29.08659,-11.866975 l -1.32292,-24.935429 c -0.24405,-4.600307 -3.70898,-8.315256 -8.31578,-8.315256 z M 377.97625,4.9187364 A 66.051543,66.051543 0 0 1 444.02752,70.969999 66.051543,66.051543 0 0 1 377.97625,137.02179 66.051543,66.051543 0 0 1 311.92448,70.969999 66.051543,66.051543 0 0 1 377.97625,4.9187364 Z" style="fill:#ff9c9c;fill-opacity:1;stroke:none;stroke-width:2.35479164;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></path>
                      <path style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:2.35479164;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 371.81065,-65.948435 c -4.60223,-0.20493 -8.22905,3.352174 -8.67694,7.937125 l -2.4334,24.909198 c -12.09413,2.070179 -18.75422,4.173108 -29.65515,10.425297 l -18.16501,-17.092719 c -3.10934,-3.399163 -8.3492,-3.632486 -11.74835,-0.523136 l -18.96507,17.347607 c -3.39917,3.10935 -3.63249,8.349203 -0.52314,11.74837 L 297.12664,8.4948848 C 289.8928,18.7628 287.16247,25.181307 283.97756,37.024277 l -24.96962,0.212369 c -4.60658,0.03918 -8.47251,3.335405 -8.67744,7.937619 l -1.14335,25.676864 c -0.20493,4.602206 3.35266,8.229036 7.93762,8.676935 l 24.90922,2.433397 c 2.07019,12.094147 4.1731,18.754229 10.42529,29.655189 l -17.09325,18.16549 c -3.39918,3.10934 -3.63248,8.34867 -0.52312,11.74785 l 17.34813,18.96509 c 3.10933,3.39915 8.12695,3.37052 11.74834,0.52314 l 19.69105,-15.48256 c 10.26814,7.23372 16.6868,9.96392 28.52993,13.1486 l 0.21235,24.97011 c 0.0392,4.60659 3.33491,8.47199 7.93714,8.67692 l 25.67684,1.14335 c 4.60224,0.20493 8.22955,-3.35214 8.67745,-7.9371 l 2.43342,-24.90972 c 12.09395,-2.07025 18.75385,-4.17316 29.65464,-10.42531 l 18.1655,17.09325 c 3.10936,3.39916 8.34919,3.63248 11.74837,0.52314 l 18.96456,-17.34815 c 3.39919,-3.10936 3.63248,-8.34869 0.52312,-11.74784 l -15.48257,-19.69105 c 7.23399,-10.26828 9.96436,-16.68706 13.14917,-28.53044 l 24.96957,-0.21237 c 4.6066,-0.0392 8.47199,-3.334908 8.67692,-7.937126 l 1.14335,-25.676864 c 0.20493,-4.602215 -3.35214,-8.229534 -7.9371,-8.677439 L 475.76391,45.564226 C 473.69374,33.470094 471.5908,26.810012 465.33862,15.909063 l 17.09269,-18.1649902 c 3.39919,-3.1093503 3.63251,-8.3491998 0.52314,-11.7483668 l -17.34762,-18.964558 c -3.10936,-3.399164 -8.34919,-3.632485 -11.74836,-0.523136 l -19.69106,15.482571 c -10.2681,-7.233918 -16.68674,-9.964268 -28.5299,-13.149127 l -0.21237,-24.969595 c -0.0392,-4.606609 -3.33541,-8.472016 -7.93765,-8.676946 z m 10.02653,63.7254088 A 66.051543,66.051543 0 0 1 444.88482,66.701096 66.051543,66.051543 0 0 1 375.96066,129.74927 66.051543,66.051543 0 0 1 312.91255,60.824575 66.051543,66.051543 0 0 1 381.83718,-2.2230262 Z" id="path4811"></path>
                    </g>
                  </svg>
            </div>
            <h2 class="heading-2 sm:text-4xl lg:text-5xl">How does it work?</h2>
            <p class="max-w-lg mx-auto mt-4 body leading-relaxed">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
        </div>

        <div class="relative mt-12 lg:mt-20">
            <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
                <svg xmlns="http://www.w3.org/2000/svg" width="full" height="48" viewBox="0 0 875 48" fill="none">
                    <path d="M2 29C20.2154 33.6961 38.9915 35.1324 57.6111 37.5555C80.2065 40.496 102.791 43.3231 125.556 44.5555C163.184 46.5927 201.26 45 238.944 45C312.75 45 385.368 30.7371 458.278 20.6666C495.231 15.5627 532.399 11.6429 569.278 6.11109C589.515 3.07551 609.767 2.09927 630.222 1.99998C655.606 1.87676 681.208 1.11809 706.556 2.44442C739.552 4.17096 772.539 6.75565 805.222 11.5C828 14.8064 850.34 20.2233 873 24" stroke="#D4D4D8" stroke-width="3" stroke-linecap="round" stroke-dasharray="1 12" class="lineanimate-1"></path>
                    </svg>
            </div>

            <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow ">
                        <span class="text-xl font-semibold text-color"> 1 </span>
                    </div>
                    <h3 class="mt-6 body-large leading-tight md:mt-10">Create a free account</h3>
                    <p class="mt-4 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                </div>

                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-color"> 2 </span>
                    </div>
                    <h3 class="mt-6 body-large  leading-tight md:mt-10">Build your website</h3>
                    <p class="mt-4 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                </div>

                <div>
                    <div class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                        <span class="text-xl font-semibold text-color"> 3 </span>
                    </div>
                    <h3 class="mt-6 body-large leading-tight md:mt-10">Release & Launch</h3>
                    <p class="mt-4 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

