---
import BorderRadiusBlob4 from "./BorderRadiusBlob4.astro";
import BorderRadiusBlob6 from "./BorderRadiusBlob6.astro";
import BorderRadiusBlob2 from "./BorderRadiusBlob2.astro";
import BorderRadiusBlob3 from "./BorderRadiusBlob3.astro";

---

<section class="py-10 bg-trancperent sm:py-16 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 text-center sm:grid-cols-2 gap-y-8 lg:grid-cols-4 sm:gap-12">
            <div>
                <div class="flex items-center justify-center mx-auto">
                   <div class="animate-wiggle animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"><BorderRadiusBlob6/></div>
                </div>
                <h3 class="mt-8  font-semibold body-large">Secured Payments</h3>
                <p class="mt-4  body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>

            <div>
                <div class="flex items-center justify-center">
                    <div class="animate-wiggle animate-delay-[4ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"><BorderRadiusBlob2/></div>
                </div>
                <h3 class="mt-8  font-semibold body-large">Fast & Easy to Load</h3>
                <p class="mt-4  body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>

            <div>
                <div class="flex items-center justify-center">
                    <div class="animate-wiggle animate-delay-[6ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"><BorderRadiusBlob3/></div>
                </div>
                <h3 class="mt-8  font-semibold body-large">Light & Dark Version</h3>
                <p class="mt-4  body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>

            <div>
                <div class="flex items-center justify-center">
                    <div class="animate-wiggle animate-delay-[8ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"><BorderRadiusBlob4/></div>
                </div>
                <h3 class="mt-8  font-semibold body-large">Filter Blocks</h3>
                <p class="mt-4 body">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
        </div>
    </div>
</section>
