---

---

<section class="py-10 bg-trancperent sm:py-16 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="absolute -z-50 animate-wiggle-more animate-infinite animate-duration-[5500ms] animate-ease-in-out animate-normal animate-fill-both">
        <svg class="left-0 top-0 absolute -z-50 animate-blob" viewBox="158.96 190.794 15.095 12.038" width="450.095" height="450.038">
              <g style="display:inline" id="g1280" transform="matrix(0.127359, 0, 0, 0.127359, 148.193167, 175.015882)">
                <path style="fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:2.21237159;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 141.95775,130.78999 c -31.70961,0 -57.415292,19.36374 -57.415107,43.25006 1.85e-4,23.8861 25.705757,43.24956 57.415107,43.24956 10.9481,-0.003 21.66724,-2.3617 30.89372,-6.80115 0,0 24.68935,10.92576 27.37094,7.11637 2.04941,-2.91134 -12.176,-17.85781 -12.176,-17.85781 7.33202,-7.43445 11.30227,-16.4455 11.32644,-25.70697 1.9e-4,-23.88632 -25.70549,-43.25006 -57.4151,-43.25006 z" id="path1276"></path>
                <path id="path1257" d="m 144.59603,123.88819 c -31.70962,0 -57.415286,19.36374 -57.415101,43.25006 1.85e-4,23.88611 25.705751,43.24956 57.415101,43.24956 10.9481,-0.003 21.66724,-2.3617 30.89372,-6.80114 0,0 24.68935,10.92575 27.37094,7.11636 2.04941,-2.91134 -12.176,-17.85781 -12.176,-17.85781 7.33202,-7.43445 11.30227,-16.4455 11.32644,-25.70697 1.8e-4,-23.88632 -25.70549,-43.25006 -57.4151,-43.25006 z" style="fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:2.21237159;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></path>
              </g>
            </svg>
        </div><h1 class="heading-1">Testimonial</h1>
        <div class="grid grid-cols-1 gap-6 lg:gap-10 sm:grid-cols-2 md:grid-cols-3">
            
            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change and click save.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-1.jpg" alt="" />
                            <div class="ml-3">
                                <p class="text-base font-semibold body-large truncate">Devon Lane</p>
                                <p class="text-base body truncate">President of Sales</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-2.jpg" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold body-large truncate">Ronald Richards</p>
                                <p class="text-base body truncate">Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“This is a top quality product. No need to think twice before making it live on web.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-3.jpg" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold body-large truncate">Jane Cooper</p>
                                <p class="text-base body truncate">Dog Trainer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“Finally, I’ve found a template that covers all bases for a bootstrapped startup. We were able to launch in days, not months.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-4.jpg" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold body-large truncate">Theresa Webb</p>
                                <p class="text-base body truncate">Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“My new site is so much faster and easier to work with than my old site. I just choose the page, make the change and click save.”</p>
                        </blockquote>
                    </div>

                    <div class="mt-8">
                        <div class="absolute -z-50 animate-shake animate-infinite animate-duration-[1500ms] animate-ease-linear animate-alternate-reverse animate-fill-both">
                            <svg class="left-0 top-0 absolute -z-50 animate-blob" viewBox="261.62 272.554 14.026 12.358" width="114.026" height="112.358">
                                  <g style="display:inline" id="g1331" transform="matrix(0.161739, 0, 0, 0.161739, 240.37387, 263.399626)">
                                    <rect ry="4.230423" rx="4.230423" y="92.644882" x="135.26311" height="40.357697" width="23.252449" id="rect1293" style="opacity:1;vector-effect:none;fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:2.21237159;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></rect>
                                    <rect style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:2.21237159;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="rect1323" width="23.252449" height="40.357697" x="131.36131" y="87.487068" rx="4.230423" ry="4.230423"></rect>
                                    <path style="opacity:1;vector-effect:none;fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:1.58749998;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="m 182.75873,59.311401 c -2.90618,0 -4.18734,2.339499 -4.18734,5.245682 l 1.47019,10.2557 -0.39119,3.302631 -12.00753,18.964228 h -6.61458 v 28.584818 c 4.49213,0.42185 10.65089,3.49351 14.89935,3.52433 h 27.47274 c 2.90384,0 5.24154,-2.47084 5.24154,-5.53971 0,-2.05074 -1.04687,-3.82963 -2.60605,-4.78729 h 3.31298 c 2.90384,0 5.24103,-2.47087 5.24103,-5.53974 0,-2.05071 -1.04636,-3.83009 -2.60553,-4.78782 h 0.85731 c 2.90384,0 5.24206,-2.47031 5.24206,-5.53919 0,-2.82712 -1.98485,-5.144854 -4.56768,-5.492711 1.60025,-0.946194 2.67891,-2.751155 2.67891,-4.834295 0,-3.06888 -2.3377,-5.53972 -5.24155,-5.53974 h -19.94296 c 0,0 2.27336,-8.74374 1.5875,-13.082908 -2.40958,-6.958912 -2.31019,-14.733985 -9.8392,-14.733985 z" id="path1325"></path>
                                    <path id="rect1304" d="m 178.97383,56.59713 c -2.90618,0 -4.18734,2.339499 -4.18734,5.245682 l 1.47019,10.2557 -0.39119,3.302631 -12.00753,18.96423 h -6.61458 v 28.584817 c 4.49213,0.42185 10.65089,3.49351 14.89935,3.52433 h 27.47274 c 2.90384,0 5.24154,-2.47084 5.24154,-5.53971 0,-2.05074 -1.04687,-3.82963 -2.60605,-4.78729 h 3.31298 c 2.90384,0 5.24103,-2.47087 5.24103,-5.53974 0,-2.05071 -1.04636,-3.83009 -2.60553,-4.78782 h 0.85731 c 2.90384,0 5.24206,-2.47031 5.24206,-5.53919 0,-2.827124 -1.98485,-5.144857 -4.56768,-5.492707 1.60025,-0.9462 2.67891,-2.75116 2.67891,-4.8343 0,-3.06888 -2.3377,-5.53972 -5.24155,-5.53974 h -19.94296 c 0,0 2.27336,-8.74374 1.5875,-13.082908 -2.40958,-6.958912 -2.31019,-14.733985 -9.8392,-14.733985 z" style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:1.58749998;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"></path>
                                  </g>
                                </svg>
                                </div>
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-5.jpg" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold body-large truncate">Darlene Robertson</p>
                                <p class="text-base body truncate">Medical Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-trancperent border border-gray-200 rounded-md">
                <div class="flex flex-col justify-between flex-1 p-8">
                    <div class="flex-1">
                        <blockquote>
                            <p class="text-lg body">“You made it so simple. My new site is so much faster and easier to work with than my old site. I just choose the page, make the change and click save.”</p>
                        </blockquote>
                    </div>
                   
                    <div class="mt-8">
                        
                        <div class="w-full h-0 mb-8 border-t-2 border-gray-200 border-dotted"></div>
                        <div class="flex items-center">
                            <img class="flex-shrink-0 object-cover w-10 h-10 rounded-full" src="https://cdn.rareblocks.xyz/collection/celebration/images/testimonials/8/avatar-6.jpg" alt="" />
                            <div class="min-w-0 ml-3">
                                <p class="text-base font-semibold body-large truncate">Floyd Miles</p>
                                <p class="text-base body truncate">Nursing Assistant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
